<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>khitluu</title>
	<script src='bower_components/jquery/dist/jquery.min.js'></script>
	<script src='public/js/script.js'></script>
</head>
<body>
	<strong>users</strong>	
	<div id="userlist"></div>
	<strong>posts</strong>	
	<div id="postlist"></div>
</body>
</html>
